<!-- this is the header div at the top -->
<div id="header">
	<a href="javascript:$.ui.toggleSideMenu()" class="button" style="float:right">Toggle Nav</a>
</div>
<div id="content">
	<!-- here is where you can add your panels -->
	<div title='Welcome' id="main" class="panel" selected="true">
		<ul>
			<li><a href="#test">Test</a></li>
		</ul>
	</div>

	<% for (i in groups) { %>
	<div title='test' id="group_<%- groups[i]['id'] %>" class="panel">
		<ul>
			<% for (j in groups[i]['list']) { %>
			<li><a href="#tmp">groups[i]['list'][j]['name']</a></li>
			<% } %>
		</ul>
	</div>
	<% } %>
</div>
<!-- bottom navbar. Add additional tabs here -->
<div id="navbar">
	<div class="horzRule"></div>
	<a href="#main" id='navbar_home' class='icon home'>home</a>
</div>
<!-- this is the default left side nav menu.  If you do not want any, do not include these -->
<nav>
	<div class='title'>Home</div>
	<ul>
		<li class="icon home mini">
			<a href="#main">Selectors</a>
		</li>
		<% for (i in groups) { %>
			<li class="icon pencil mini">
				<a href="#group_<%- groups[i]['id'] %>"><%- groups[i]['name'] %></a>
			</li>
		<% } %>
	</ul>
</nav>