<!-- this is the header div at the top -->
<div id="header">
	<a href="javascript:$.ui.toggleSideMenu()" class="button" style="float:right">Toggle Nav</a>
</div>
<div id="content">
	<!-- here is where you can add your panels -->
	<div title='Home' id="main" class="panel" selected="true">
		<ul>
			{{#each groups}}
			<li class="icon pencil mini">
				<a href="#group_{{_id}}">{{name}}</a>
			</li>
			{{/each}}
		</ul>
	</div>

	{{#each groups}}
	<div title='{{name}}' id="group_{{_id}}" class="panel">
		{{#if list}}
		<ul>
			<li><a href="#tmp">{{name}}</a></li>
		</ul>
		{{else}}
		<p>No items</p>
		{{/if}}
	</div>
	{{/each}}

	<div title="Insert" id="insert" class="panel">
		<form>
			<fieldset style="text-align: center;">
				<input type="text" name="name" class="jq-ui-forms" placeholder="Item"/>
				<input type="text" name="qty" class="jq-ui-forms" placeholder="Qty"/>
				<input type="submit" value="Save" class="jq-ui-forms" />
			</fieldset>
		</form>
	</div>



</div>
<!-- bottom navbar. Add additional tabs here -->
<div id="navbar">
	<div class="horzRule"></div>
	<a href="#main" id='navbar_home' class='icon home'>home</a>
	<a href="#insert" id='navbar_insert' class='icon pencil'>insert</a>
</div>
<!-- this is the default left side nav menu.  If you do not want any, do not include these -->
<nav>
	<ul>
		{{#each groups}}
			<li class="icon pencil mini">
				<a href="#group_{{_id}}">{{name}}</a>
			</li>
		{{/each}}
	</ul>
</nav>