<!DOCTYPE html>
<!--HTML5 doctype-->
<html>

	<head>
		<title>jqMobi Starter</title>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<link rel="stylesheet" type="text/css" href="css/icons.css" />
		<link rel="stylesheet" type="text/css" href="css/jq.ui.carbon.css" title="volcano" />
		<!-- uncomment for AppMobi apps
		<script type="text/javascript" charset="utf-8" src="http://localhost:58888/_appMobi/appmobi.js"></script>
		<script type="text/javascript" charset="utf-8" src="http://localhost:58888/_appMobi/xhr.js"></script>
		-->
		<script type="text/javascript" charset="utf-8" src="js/jq.ui.min.js"></script>
		<script type="text/javascript" charset="utf-8" src="js/app.js"></script>
		<!-- include touch.js on desktop browsers only -->
		<script>
			if (!((window.DocumentTouch && document instanceof DocumentTouch) || 'ontouchstart' in window)) {
				var script = document.createElement("script");
				script.src = "js/touch.js";
				var tag = $("head").append(script);
				$.os.android = true; //let's make it run like an android device
				$.os.desktop = true;
			}

		</script>
		<script type="text/javascript">

			var webRoot = "./";
			$.ui.autoLaunch = false; //By default, it is set to true and you're app will run right away.  We set it to false to show a splashscreen
			/* This function runs when the body is loaded.*/
			var init = function () {
				$.ui.backButtonText = "Back";// We override the back button text to always say "Back"
				window.setTimeout(function () {
					$.ui.launch();
				}, 1500);//We wait 1.5 seconds to call $.ui.launch after DOMContentLoaded fires
			};
			document.addEventListener("DOMContentLoaded", init, false);
			$.ui.ready(function () {
				//This function will get executed when $.ui.launch has completed
				app = new App();
				$.ui.customClickHandler=app['_clickHandler'];
			});


			/* This code is used for appMobi native apps */
			var onDeviceReady = function () {
				AppMobi.device.setRotateOrientation("portrait");
				AppMobi.device.setAutoRotate(false);
				webRoot = AppMobi.webRoot + "/";
				//hide splash screen
				AppMobi.device.hideSplashScreen();

			};
			document.addEventListener("appMobi.device.ready", onDeviceReady, false);
		</script>

		{{#each libraries}}
		<script type="text/javascript" charset="utf-8" src="{{this}}"></script>
		{{/each}}
	</head>

	<body>
		<div id="jQUi"> <!-- this is the main container div.  This way, you can have only part of your app use jqUi -->
			{{{body}}}
		</div>
	</body>
</html>